@import "tailwindcss";

@font-face {
    font-family: "IntegralCF Bold";
    src: local("IntegralCF Bold"), url("../../public/fonts/IntegralCF-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Satoshi Bold";
    src: local("Satoshi Bold"), url("../../public/fonts/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Satoshi Regular";
    src: local("Satoshi Regular"), url("../../public/fonts/Satoshi-Regular.woff2") format("woff2");
}

@theme {
    --font-integral-cf: "IntegralCF Bold";
    --font-satoshi-bold: "Satoshi Bold";
    --color-text-secondary: #00000094;
    --color-bg-secondary: #F0F0F0;
    --color-line-color-primary: #0000001e;
    --color-border-color-primary: #00000013;
    --shadow-main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-line-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    --color-main-hover: #c5c5c5;
    --animate-loading: blink 1s infinite linear;
}

@layer base {
    body {
        font-family: "Satoshi Regular";
        overflow-x: clip;
    }

    svg {
        @apply w-6 h-6;
    }

    button {
        cursor: pointer;
    }

    input {
        outline: 0
    }

    label {
        @apply cursor-pointer;
    }
}

@layer components {
    .container {
        @apply mx-auto px-4;
    }

    .search-input-wrapper {
        @apply absolute right-0 top-[156%] z-70 text-text-secondary overflow-hidden bg-bg-secondary rounded-3xl opacity-0 w-0 xl:hidden;
        box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
    }

    .search-result {
        @apply flex flex-col px-2 text-sm py-0 opacity-0 max-h-0 border-t overflow-y-auto overflow-x-hidden;
    }

    .desktop-search-wrapper {
        @apply absolute right-0 top-[110%] z-70 bg-bg-secondary w-full rounded-3xl overflow-hidden;
        box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09);
    }

    .desktop-search-result {
        @apply flex flex-col py-0 px-3 max-h-0 overflow-y-auto opacity-0;
    }

    .hero-secttion {
        background: url("../../public/images/hero.png");
        @apply w-full h-112 bg-center bg-no-repeat;
    }

    .dress-section {
        @apply w-full h-full bg-center bg-no-repeat bg-cover;
    }

    .line {
        @apply border-r border-line-color-primary;
    }

    .comment {
        @apply flex flex-col p-3 sm:p-5 border gap-2.5 border-border-color-primary rounded-2xl min-w-65 lg:min-w-100 lg:p-8 shadow-main-shadow;
    }

    .header-line {
        @apply border-t border-border-color-primary mb-6 shadow-line-shadow;
    }

    .form-hero {
        @apply w-full h-125 rounded-lg overflow-hidden md:h-160;
        background: url("../../public/images/login-hero.png") center no-repeat;
        background-size: cover;
    }

    .menu-cover {
        @apply fixed inset-0 sm:hidden bg-[#0000006c] opacity-0 -z-1;
    }

    .filter-cover {
        @apply fixed inset-0 md:hidden bg-[#0000006c] opacity-0 -z-1;
    }

    .sort-submenu {
        background: linear-gradient(90deg, rgba(214, 214, 214, 1) 0%, rgba(26, 26, 26, 1) 100%);
        @apply absolute text-white rounded-2xl p-4 w-50 right-0 top-[130%] flex items-center h-0 opacity-0 overflow-hidden;
    }

    .input-marker {
        @apply w-11.5 bg-[#7a7a7a] h-6 rounded-full relative;
    }

    .input-marker::after {
        @apply content-[""] block w-4 h-4 bg-white rounded-full absolute top-0 bottom-0 right-1 my-auto;
    }

    .price-input {
        @apply absolute w-full appearance-none bg-transparent inset-y-0 my-auto pointer-events-none;
    }
}

@utility dress-grid {
    grid-template-columns: 1fr;
}

@utility dress-grid-desktop {
    grid-template-columns: 1fr 2fr;
}

@utility dress-grid-desktop-reverse {
    grid-template-columns: 2fr 1fr;
}

@utility products-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@utility products-grid-desktop {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@utility main-transition {
    transition: all 200ms ease-in;
}

@layer utilities {
    .current-pagination {
        @apply bg-bg-secondary text-black;
    }

    .menu-transition {
        transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .show-menu {
        @apply translate-x-[110%] opacity-100 min-[480px]:translate-x-[136%];
    }

    .show-search {
        @apply w-54 opacity-100 lg:w-64 p-1;
    }

    .show-search-result {
        @apply max-h-50 opacity-100 py-3;
    }

    .show-desktop-search-result {
        @apply py-4 max-h-55 opacity-100;
    }

    .menu-cover-show {
        @apply opacity-100 z-80;
    }

    .sort-submenu-show {
        @apply h-53 opacity-100;
    }

    .filter-cover-show {
        @apply opacity-100 z-110;
    }

    .show-dress-style {
        @apply max-h-65 py-4 opacity-100;
    }

    .show-price-filter {
        @apply max-h-22 py-11 opacity-100;
    }

    .show-modal {
        @apply opacity-100 h-16;
    }
}

.search-result::-webkit-scrollbar,
.desktop-search-result::-webkit-scrollbar {
    @apply appearance-none w-3
}

.search-result::-webkit-scrollbar-thumb, .desktop-search-result::-webkit-scrollbar-thumb {
    @apply bg-[#161616] rounded-full
}

.search-result>*:not(:last-child), .desktop-search-result>*:not(:last-child) {
    @apply pb-2.5 border-b border-border-color-primary shadow-line-shadow;
}

.search-result>*:not(:first-child),
.desktop-search-result>*:not(:first-child) {
    @apply pt-2.5;
}

.price-input::-webkit-slider-thumb {
    @apply appearance-none w-5.5 h-5.5 bg-black rounded-full cursor-pointer pointer-events-auto main-transition;
}

@media (hover:hover) {
    .price-input::-webkit-slider-thumb:hover {
        @apply bg-gray-800;
    }
}

@keyframes blink {

    0%,
    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.reveal {
    @apply opacity-0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    will-change: transform, opacity;
    transition-delay: var(--delay, 0s);
}

.reveal-up {
    transform: translateY(-40px);
}

.reveal-down {
    transform: translateY(40px);
}

.reveal-left {
    transform: translateX(-40px);
}

.reveal-right {
    transform: translateX(40px);
}

.reveal-none {
    transform: translate(0)
}

.show-reveal {
    @apply opacity-100;
    transform: translate(0, 0);
}